mat-card {
    padding-top: 20px;
    margin:auto;
    width: 40%;
    text-align: left;
}

button{
    width: 20%;
    margin-bottom: 20px;
}

.loginbutton {
    text-align: center;
}

h1 {
    color: rgb(164, 94, 230);
    text-align: center;
}

.formarea{
    padding: 174px;
    background-color: beige;
    background-image:url('../../../assets/img/loginBackground.png');
}
